.container {
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.btn {
  width: 100%;
}

.picker {
  width: 100%;
}