.container {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.header {

}

.headerTitle {
  font-size: 20px;
  font-weight: bold;
}

.params {
  display: flex;
}

.paramsBlock {
  width: 25%;
  padding: 10px;
  outline: 1px solid black;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.paramsBlockTitle {
  margin-bottom: 1rem;
}

.graphBlock {
  width: 75%;
  padding: 10px;
  outline: 1px solid black;
}

.btnsGroop {
  display: flex;
  justify-content: space-around;
}

.paramsBlockGraph {
  margin-top: 40px;
  margin-bottom: 1rem;
}

.btn {
  padding: 20px;
}

.secondParam {
  margin-top: 1rem;
  width: 100%;
}