.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.topFiltersBlock {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
}

.topFiltersBlockContent {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  width: 49%;
}

.picker {
  width: 100%;
}

.filtersBlock {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.filtersTitle {

}

.buttonsBlock {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.button {
  width: 45%;
  height: 50px;
  margin-bottom: 8px;
}