.externalContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.factors {
  width: 100%;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;

  & span {
    margin-bottom: 16px;
  }
}

.factorsContent {
  display: flex;
  justify-content: space-around;
}

.btn {
  width: 150px;
}
