.container {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.header {
  font-size: 20px;
  font-weight: bold;
}

.topBlocks {
  display: flex;
  justify-content: space-between;
}

.concatBlocks {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.concatBlocksTitle {
  text-align: center;
  padding: 27px 20px;
}

.concatTop {
  display: flex;
  width: 100%;
}

.concatBot {
  width: 100%;
}

.block1 {
  width: 50%;
}

.block2 {
  width: 50%;
}

.block3 {
  padding: 20px;
  height: 600px;
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.block3Filters {
  display: flex;
  justify-content: center;
  gap: 1rem;
  //padding: 20px;
}

.btn {
  width: 200px;
  height: 70px;
}

.blockPicker {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block3Left {
  width: 49%;
}

.block3Right {
  width: 49%;
}