.container {
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.topBtn {
  width: 100%;
  //margin-top: 55px;
}

.btn {
  width: 100%;
}

.picker {
  width: 100%;
}